<a href="https://colab.research.google.com/github/betty-grit/Assignment-1/blob/main/Assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Python is a general purpose programming language with a simplified syntax. Due to its ease of learning and usage, python codes can be easily written and executed much faster than other programming languages.
Python Exists for the following reasons;

1.Web and mobile app development
2.Data analytics and visualisation
3.AI and machine learning

palindrome

In [ ]:
 w=input("enter a word: ")

def reverse(x):
  return x[::-1]
  #slicing

if w==reverse(w):


  print("yes the word is a palindrome!")
else:
  print("No it is not a palindrome , try another word!")

enter a word: 121
yes the word is a palindrome!

Madlips Game

In [ ]:
alphabet=input("enter an alphabet of choice: ")
subject=input("enter a subject in school: ")
show=input("enter your favorite show on tv: ")
hours=input(" enter an amount of hours: ")
weekday=input("enter a weekday: ")

print("you got a "+ alphabet + " in "+ subject + " because you keep watching "+ show + hours + "hours" +" every "+ weekday)

enter an alphabet of choice: g
enter a subject in school: bcom
enter your favorite show on tv: daterush
enter an amount of hours: 14
enter a weekday: fridays
you got a g in bcom because you keep watching daterush14hours every fridays

Calculator

In [ ]:
print("select an operation to perform: ")
print("1 to add")
print("2 to subtract")
print("3 to multiply")
print("4 to divide")

operation=input()
if operation=="1":
  num1=input("enter first number: ")
  num2=input("enter second number: ")
  print("ans: " + str(float(num1)+float(num2)))
elif operation=="2":
  num1=input("enter first number: ")
  num2=input("enter second number: ")
  print("ans: " + str(float(num1)-float(num2)))
elif operation=="3":
  num1=input("enter first number: ")
  num2=input("enter second number: ")
  print("ans: " + str(float(num1)*float(num2)))
elif operation=="4":
  num1=input("enter first number: ")
  num2=input("enter second number: ")
  print("ans: " + str(float(num1)/float(num2)))
else:
  print("you have entered an invalid operand enter +,-,* or /")

select an operation to perform:
1 to add
2 to subtract
3 to multiply
4 to divide
1
enter first number: 7
enter second number: 8
ans: 15.0